body
{
  color: black;
  font-family: 'Noto Sans Mono', monospace;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}
/* Navbar */
.nav
{   
  background-color: maroon;
  color: white;
  padding: 8px;
}

.nav a
{
  color: black;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  font-size: 1.2rem;
  transition: background-color 0.5s;
}

.nav a:hover
{
  background-color: black;
  color: white;
}

/* Navbar end */

.title
{
  padding: 8px;
  color: black;
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (min-width: 500px)
{
  .nav a
  {
    padding: 1rem 3rem;
    position: ;
    display: inline-block;
  }
  .single-product
  {
    width: 75%;
    float: left;
  }
}