nav
{   
  background-color: maroon;
  color: white;
  padding: 4px;
}

nav a
{
  background-color: white;
  color: black;
  border: 2px solid black;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  font-size: 1.2rem;
  transition: background-color 0.5s;
}

nav a:hover
{
  background-color: black;
  color: white;
}