nav
{   
  background-color: maroon;
  color: white;
  padding: 0.6rem;
  border-left: 8px solid black;
  border-bottom: 8px solid black;
}

nav a
{
  color: black;
  border-bottom: 2px solid black;
  margin: 0px;
  padding: 4px;
  font-size: 1.2rem;
  transition: background-color 0.5s;
  text-decoration: none;
}

nav a:hover
{
  background-color: black;
  color: white;
}