body
{
  color: black;
  font-family: 'Noto Sans Mono', monospace;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}

.bgimg
{
  background-image: url("bgimg.jpg");
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.nav
{   
  background-color: maroon;
  color: white;
}

.nav a
{
  color: black; 
}

.nav a:hover
{
  background-color: black;
  color: white;
}

.centered-container
{
  padding-top: 64px;
  text-align: center;
  background-color: white;
  color: black;
  font-size: 2.5rem;
  font-weight: 8px;
}

.home-item
{
  padding-top: 25px;
  text-align: center;
  margin-bottom: 32px;
}

.home-item p
{
  padding-top: 8px;
  text-align: center;
  margin-bottom: 8px;
  font-weight: 3rem;
}

@media screen and (min-width: 500px)
{
  .nav ul
  {
    text-align: center;
  }

  .nav ul li
  {
    display: inline-block;
  }
  .single-product
  {
    width: 75%;
    float: left;
  }
}