.centered-container
{
  padding-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

h1
{
  padding: 1.2rem;
  color: black;
  font-size: 1.5rem;
  text-align: center;
}

p
{
  text-indent: 40px;
  padding-left: 1rem;
  font-size: 14px;
  text-align: left;

}